.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px 45px 15px 45px;
    border: 1px solid black
}
.right{
    
    display: flex;
    flex-direction: column;
}
.input{
    margin: 10px;
}
button.btn{
    margin: 5px;
    width: 100px;
}
.task-content{
    font-style: italic;
}
button.btn.btn-info{
    color: white;
}